@font-face {
		font-family: voyanui; 
		src: url('VoyaNui_1.15_4.ttf');
		}
		
@font-face {
	font-family: matoran; 
	src: url('Matoran.ttf');
}

body {
	text-align: center;
	background-image: url("hau-background.png");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: repeat;
	height: 100%;
	margin: 0;
}

h1 {
	font-family: voyanui;
	margin-left: 2%;
	background-color: rgba(213, 223, 222, 0.2);
}

h2, h3 {
	font-family: voyanui;
	text-align: center;
}


p {
	font-family: helvetica;
	background-color: rgba(213, 223, 222, 0.7);
	border: solid 2px rgba(0,0,0,0.5);
	border-radius: 9px;
	padding: 40px;
	margin-left: 360px;
	margin-right: 160px;
	margin-bottom: 30px;
}
	p a {
		color: #e40303;
	}
	
		p a:hover {
			color: #ff8c00;
		}

 a {
		color: #e40303;
}
	
		 a:hover {
			color: #ff8c00;
		}
		

nav.emo {
    position: sticky;
    top: 0px;
}
        
    nav.emo ul{
        list-style-type: none;
        overflow: hidden;
        background-color: #19191c;
    }
            
        nav.emo li {
            float: left;
        }
        
        nav.emo a {
            color: white;
            font-family: voyanui;
            display: block;
            padding: 16px;
        }
        
            nav.emo a:hover {
                background-color: #e40303;
                color: #151516;
        }

		
nav.poikanen {
	float: left;
	font-family: voyanui;
	padding-right: 5px;
	border-right: solid 1px black;
	width: 268px;
	position: sticky;
	top: 65px;
}

	nav.poikanen ul {
		list-style-type: none;
		background-color: #19191c;
		padding: 5px;
	}
	
	nav.poikanen li {
		padding: 5px;
	}
	
	nav.poikanen a {
		color: white;
		text-decoration: none;
		display: block;
		padding: 1.5em;
	}
	
		nav.poikanen a:hover {
			background-color: #ff8c00;
			color: #151516;
		}

		
nav .lajit-linkit {
        display: none;
        margin-left: 40px;
    }
    
    nav .lajit-linkit a {
        padding: 5px 75px;
    }    
    
    nav .lajit-teksti:hover {
		cursor: pointer;
    }
	
		
a {
	text-decoration: none;
}

.content {
	padding: 15px;
	padding-bottom: 50px;
	min-height: 100%;
}

.jalkine {
	color: white;
	background-color: #19191c;
	padding: 16px;
	height: 15px;
	margin-top: -30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.esittely p {
	text-align: center;
	margin-right: 30%;
	margin-left: 30%;
}

.kartta {
	text-align: center;
}

img {
	margin: 10px;
	padding: none;
}

	img.sivukuva {
		float: right; 
		margin-top: -20px;
		margin-right: -20px;
		margin-left: 20px
		margin-bottom: 20px;
	}


.kuva {
	transition: 0.75s;
}

.kuva:hover {
	transform: scale(1.25);
}	
	

.maailma {
	text-align: center;
}

.keskitys {
	margin-left: 360px;
	margin-right: 160px;
}

	
.fontti {
	font-family: matoran;
}


.sanakirja { 
	color: #e40303;
	font-weight: bold; 
}


/* .gallery {
    margin: 10px;
    border: 1px solid transparent;
    float: left;
    width: 325px;
    height: 600px;
}

.gallery:hover {
    border: 1px solid #e40303;
}
*/

.gallery img {
    height: 250px;
	filter: grayscale(50%);
	transition: 0.5s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

.desc {
    padding: 10px;
    text-align: center;
}

	
@keyframes colors {
	25%	{background-color: #19191c}
	50%	{background-color: #151516}
	75%	{background-color: #ff8c00}
	100%	{background-color: #e40303 }
}
